<h1>Courses</h1>

{{#if courses.length}}
  <div class="card-wrapper">
    {{#each courses}}
      <div class="col s4 offset-3">
        <div class="card">
          <div class="card-image">
            <img src="{{img}}" alt="{{title}}" />
          </div>
          <div class="card-content">
            <h3 class="card-title">{{title}}</h3>
            <p class="price">{{price}}</p>
          </div>
          <div class="card-action">
            <div>
              <a href="/courses/{{id}}" target="_blank">Open</a>
              <a href="/courses/{{id}}/edit?allow=true">Edit</a>
            </div>

            <form action="/card/add" method="POST">
              <input type="hidden" name="id" value={{id}} />
              <button type="submit" class="btn btn-primery btn-bue">Buy</button>
            </form>

          </div>
        </div>
      </div>
    {{/each}}
  </div>

{{else}}
  <h2>Not have courses</h2>
{{/if}}